body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  min-height: calc(100vh - 75px);
  width: 92%;
  padding: 19px 33px 49px 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app > .inner-wrapper {
  width: 100%;
}
